{#
/**
 * Template for rendering an accordion component.
 *
 * This template uses the 'accordion' and 'accordion-item' templates to display an accordion
 * with a single item. The item is initially collapsed, but will always open when clicked.
 *
 * Available variables:
 * - alwaysOpen: A boolean value that controls whether the accordion item should always be open.
 * - icon: The name of the icon to display next to the title of the accordion item.
 * - title: The title of the accordion item.
 * - description: An optional description for the accordion item.
 * - body: The content to display in the body of the accordion item.
 * - collapsed: A boolean value that controls whether the accordion item should be initially collapsed.
 *
 * Example usage:
 * {% embed 'accordion' with { alwaysOpen: true } only %}
 *   {% block content %}
 *     {% for item in node.field_accordion_items %}
 *       {% include 'accordion-item' with {
 *         icon: item.field_icon|default('calendar-days'),
 *         title: item.field_title|default('Untitled'),
 *         description: item.field_description|default(''),
 *         body: item.field_body|default('No content provided.'),
 *         collapsed: item.field_collapsed|default(false)
 *       } %}
 *     {% endfor %}
 *   {% endblock %}
 * {% endembed %}
 */
#}
{% set component_classes = [
  'accordion',
  flush ? 'accordion-flush',
  classes
] %}

{% set accordion_id = 'accordion-' ~ random(0, 1000000) %}
<div {{ sdcAttributes.setAttribute('id', accordion_id).addClass(component_classes) }}>
  {% block content %}
    {% for i in 1..3 %}
      {% include 'accordion-item' with {
        icon: 'calendar-days',
        title: 'Accordion Item #' ~ loop.index,
        body: 'This is the first item\'s accordion body. It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It\'s also worth noting that just about any HTML can go within the .accordion-body, though the transition does limit overflow.',
      } %}
    {% endfor %}
  {% endblock %}
</div>
